*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

body{
    background: #0a0a14;
    font-family: 'Courier New', monospace;
    color : #c0a0ff;
    height: 100vh;
    overflow: hidden;
}

.container{
    display: flex;
    height: 100vh;
}
